header {
  background-color: #ffffff;
  height: 90px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.04);
  position: sticky;
  top: 0;
  z-index: 999;
}

header .container {
  height: 100%;
}

header img {
  width: 70px;
}

header a {
  margin-left: 35px;
  color: #111827;
  font-weight: 500;
  transition: 0.3s;
}

header a:hover {
  color: #c9a24d;
}

#phn button {
  background-color: #c9a24d;
  color: #111827;
  padding: 14px 28px;
  font-weight: 600;
  border-radius: 2px;
}

header .toggle {
  display: none;
}

/* Mobile */
@media screen and (max-width: 768px) {
  header .nav .flex {
    display: none;
  }

  header .toggle {
    display: block;
  }

  header .small {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 30px;
  }

  header li a {
    display: block;
    margin-bottom: 20px;
  }

  #phn {
    display: none;
  }
}
